{% load static %}

<!-- Cards -->
<section class="pb-20 bg-gray-200 -mt-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                            <i class="fas fa-wind"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Fully Air Conditioner</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            State of the art gym with huge 300m² carpet area, fully air conditioned.
                        </p>
                    </div>
                </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                            <i class="fas fa-lock"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Locker Facility</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Personal locker facility is available for each and every member.
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                            <div class="px-4 py-5 flex-auto">
                                <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                                    <i class="fas fa-campground"></i>
                                </div>
                                <h6 class="text-xl font-semibold">Boot Camps</h6>
                                <p class="mt-2 mb-4 text-gray-600">
                                    Divide details about your product or agency work into parts.
                                    A paragraph describing a feature will be enough.
                                </p>
                            </div>
                        </div>
                    </div> -->
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                            <i class="fas fa-running"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Cardio / Fat Burn</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Fully equiped with Cardio Machines such as Treadmill, Cycle, etc available.
                        </p>
                    </div>
                </div>
            </div>
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                            <i class="fas fa-dumbbell"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Weight Lifting</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Special heavy and light Weight Lifting training with professional trainers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                            <i class="fas fa-user"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Personal Training</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Well trained & professional trainers for Personal training at very nominal rate.
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="w-full md:w-4/12 px-4 text-center">
                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                            <div class="px-4 py-5 flex-auto">
                                <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400">
                                    <i class="fas fa-users"></i>
                                </div>
                                <h6 class="text-xl font-semibold">Experienced Fitness Trainers</h6>
                                <p class="mt-2 mb-4 text-gray-600">
                                    Keep you user engaged by providing meaningful information.
                                    Remember that by this time, the user is curious.
                                </p>
                            </div>
                        </div>
                    </div> -->
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400">
                            <i class="fas fa-person-booth"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Changing Room</h6>
                        <p class="mt-2 mb-4 text-gray-600">
                            Facility of seperate changing rooms available for both ladies and gents.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap items-center mt-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                <div
                    class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
                    <i class="fas fa-user-friends text-xl"></i>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                    Working with us is a pleasure
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-900">
                    Let us be a part and member of JayCee Fitness Gym & Spa, located at very prime locality of Nabha with very comfortable, friendly and professional atmosphere.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-900">
                    Be it your requirement of weight gain, weight loss, muscle/body building, or any of your personal requirement for any competetion, you will love to be a member of our Gym.
                </p>
            </div>
            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
                    <img src="{% static 'images/image5.jpg' %}" alt="" class="w-full align-middle rounded-t-lg" />
                    <blockquote class="relative p-8 mb-4">
                        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                            class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                            <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
                        </svg>
                        <h4 class="text-xl font-bold text-white">
                            Top Notch Services
                        </h4>
                        <p class="text-md font-light mt-2 text-white">
                            We strive to offer you best of the services to get your objectives done in a very professional way, so your valuable suggesstions are always welcomed.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>